<!-- -->
<launch> 
  <!-- Load URDF robot model and environment -->
  <param name="robot_description" command="xacro '$(find lwr_rviz_visualization)/robots/kuka_lwr_arm.urdf.xml'"/> 

  <arg name="show_object_frames" default="true"/> <!-- True: Show objects on the table -->

  <!-- Publish tf frames -->
  <!-- Robot-Kinect calibration frames -->
  <node if="$(arg show_object_frames)" pkg="tf" type="static_transform_publisher" name="marker_to_world" args="0.0 -0.1915 0.0 0 0 0 1 /robot_locked /world 30" />
  <node if="$(arg show_object_frames)" pkg="tf" type="static_transform_publisher" name="camera_to_marker" args="-0.2619 -0.0057 0.7806 -0.0454197044483 0.937505449501 -0.344616491973 -0.0161262538829 /camera_rgb_optical_frame /robot_locked 30" />
	
  <!-- Objects -->
  <node if="$(arg show_object_frames)" pkg="tf" type="static_transform_publisher" name="cup" args="0.328 -0.288 0.89 -0.0454197 0.937505 -0.344617 -0.0161263 /camera_rgb_optical_frame /cup 100" />
  <node if="$(arg show_object_frames)" pkg="tf" type="static_transform_publisher" name="spoon" args="0.2188 0.17072 0.6035 0.75520830228 -0.576690426868 -0.287317212141 -0.120571104887 /camera_rgb_optical_frame /spoon 100" />
  <node if="$(arg show_object_frames)" pkg="tf" type="static_transform_publisher" name="water" args="0.1238 -0.0235 0.63 0.795999098298 -0.528497569114 -0.284611727675 -0.0779225219011 /camera_rgb_optical_frame /water 100" />
  <node if="$(arg show_object_frames)" pkg="tf" type="static_transform_publisher" name="coffee" args="-0.0019 0.1454 0.6144 -0.682839804402 0.69996839101 0.142847789966 0.152867792594 /camera_rgb_optical_frame /coffee 100" /> 

  <!-- Add a frame at the end of the gripper. NOTE: The frame's orientation has to match the /world orientation with the LWR in candle position  -->
  <node pkg="tf" type="static_transform_publisher" name="wsg50_end_link" args="0 0 0.15 2.357 0 0 /wsg50_gripper_base_link /wsg50_end_link 100" />
  
  <!-- Publish ar_marker message -->
  <node name="kuka_seed_commands" pkg="kuka_seed_commands" type="kuka_seed_commands" args="" output="screen" />
  <rosparam> publish_end_effector: false </rosparam>

  <!-- Robot state publisher - Transform joint angles to tf frames -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
  <param name="publish_frequency" value="10"/>
  </node>

  <!-- Rviz visualizer -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lwr_rviz_visualization)/config/scene_config.rviz"/> 


  <!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
   <param name="tf_prefix" value=""/>
   <param name="use_gui" value="on"/>
   <param name="rate" value="100"/>
  </node> --> 

</launch>
